@mixin raleway($weight, $url) {
  font-family: "Raleway";

  src: local("Raleway #{$weight}"),
  url($url) format("ttf");
}
@font-face {
  @include raleway(Regular, "../assets/fonts/Raleway-Regular.ttf");

  font-weight: 400;
}

@font-face {
  @include raleway(Semibold, "../assets/fonts/Raleway-SemiBold.ttf ");

  font-weight: 600;
}

@font-face {
  @include raleway(Bold, "../assets/fonts/Raleway-Bold.ttf ");

  font-weight: 700;
}

@font-face {
  font-family: "Fontello";

  src: url("../assets/fonts/fontello.ttf") format("ttf"),
  url("../assets/fonts/fontello.woff") format("woff");
}

@mixin primary_font {
  font: {
    family: "Raleway", Roboto, Arial, sans-serif;
    weight: 400;
  }
}