.icon:before {
  padding: 0.5em;

  font-family: "Fontello";
}

.icon-location:before {
  content: "\e800";
}

.icon-clock:before {
  content: "\e801";
}

.icon-phone:before {
  content: "\f098";
}

.icon-mail:before {
  content: "\f0e0";
}

.icon-down:before {
  content: "\f175";
}

.icon-skype:before {
  content: "\f17e";
}

.icon-telegram:before {
  content: "\f2c6";
}

.icon-close:before {
  content: "\e802";
}

.icon-toggle:before {
  content: "\f0c9";
}

.icon-github:before {
  content: "\f09b";
}

.icon-discord:before {
  content: "\e800";
}
